/* ---------- Section Header ---------- */
.features {
  padding: 80px 0 60px;
  text-align: center;
}

.features__subtitle {
  color: var(--color-sub-text);
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 12px;
}

.features__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.3;
}

/* ---------- Grid ---------- */
.features__grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.features__grid article {
  height: 400px;
}

.features__grid article:nth-child(2n + 1) {
  margin-top: 80px;
}

/* ---------- Cards ---------- */
.feature-card {
  position: relative;
  background: #ffffff;
  padding: 30px;
  border-radius: 6px;
  transition: var(--transition);
  position: relative;

  transition: var(--transition);
}

.feature-card__icon {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100px;
  height: 100px;
  background: var(--color-main-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-bottom: 20px;

  transform: translateY(0);
  transition: var(--transition);
}

.feature-card:hover .feature-card__icon {
  background-color: var(--color-dark-text);
  transform: translateY(1);
}

.feature-card:hover {
  background-color: var(--color-main-block-1);
}

.feature-card:hover .feature-card__title,
.feature-card:hover .feature-card__text {
  color: var(--color-white);
}

.feature-card__title {
  margin-top: 80px;
}

.feature-card__text {
  margin-bottom: 26px;
}

/* ----Animation---------- */
.features__grid > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.features__grid > *.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ---------- Responsive ---------- */
@media (max-width: 1139px) {
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .features__grid article {
    height: 350px;
  }
}

@media (max-width: 775px) {
  .features__grid article {
    height: 370px;
  }

  .feature-card__title {
    margin-top: 60px;
  }
}

@media (max-width: 599px) {
  .features {
    padding: 40px 0 60px;
    text-align: center;
  }

  .features__grid {
    grid-template-columns: 1fr;
  }
  .features__grid article:nth-child(2n + 1) {
    margin-top: 20px;
  }

  .features__grid article {
    height: 300px;
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .features__grid article {
    height: 330px;
  }
}

@media (max-width: 350px) {
  .features__grid article {
    height: 350px;
  }
}
