/* ==================HERO====================== */
.hero__inner {
  background: var(--dark-green);
  padding: 20px;
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
}

.hero__text {
  color: var(--color-white);
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.images-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
}

.images-grid img {
  filter: brightness(0.9);
}

/* Левая колонка, верхнее фото */
.img-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Левая колонка, нижнее фото */
.img-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

/* Правая колонка, верхнее фото */
.img-3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.img-2 img {
  object-position: right;
}

/* Правая колонка, нижнее фото */
.img-4 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.images-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

/* === Адаптивность === */
@media (max-width: 1025px) {
  .hero__inner {
    padding: 130px 20px 20px 20px;
  }
}

@media (max-width: 900px) {
  .images-grid {
    margin: 0 auto;
  }

  .hero__inner {
    position: relative;
    grid-template-columns: 1fr;
    padding: 70px 20px 120px 20px;
  }

  .hero__gallery {
    grid-template-columns: 1fr 1fr;
  }

  .images-grid {
    width: 80%;
  }

  .hero__buttons {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .images-grid {
    width: 100%;
    gap: 10px;
  }

  .hero__gallery {
    grid-template-columns: 1fr;
  }
  .hero__text {
    font-size: 1.8rem;
  }
}

@media (max-width: 410px) {
  .hero__buttons {
    gap: 15px;
  }
}

/* ======================= ABOUT SECTION ================== */
.about {
  position: relative;
}

/* Layout */
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
}

.about__image-block {
  position: relative;
}

/* Decorative blocks */
.about__decor {
  position: absolute;
  width: 100px;
  height: 360px;
  z-index: 1;
}
.about__decor--peach {
  background: #e8a892;
  top: 50px;
  left: 120px;
}
.about__decor--green {
  background: #0e6b5a;
  bottom: 60px;
  left: 140px;
}

/* Photo */
.about__image {
  padding: 30px 0;
}

.about__image img {
  width: 75%;
  height: auto;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  margin-left: auto;
  object-fit: cover;
  object-position: right;
  box-shadow: 8px 8px 15px #654035;
}

/* Experience block */
.about__experience {
  position: absolute;
  bottom: -50px;
  right: -20px;
  width: 180px;
  height: 180px;
  background: #0e6b5a;
  color: #ffffff;
  border-radius: 6px;
  padding: 30px 15px;
  z-index: 10;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__experience-number {
  font-size: 42px;
  font-weight: 700;
}

.about__experience-text {
  margin-top: 5px;
  opacity: 0.8;
}

/* ------------------------------------------------ */
/* TEXT BLOCK */
/* ------------------------------------------------ */

.about__subtitle {
  letter-spacing: 2px;
  font-size: 14px;
  color: #e6a693;
  margin-bottom: 14px;
}

.about__title {
  margin-bottom: 20px;
}

.about__title span {
  color: #e6a693;
}

.about__description {
  color: #6d6d6d;
}

/* Features (two items) */
.about__features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Individual item */
.about-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.about-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-item__icon--peach {
  background-color: #e8a892;
}

.about-item__icon--green {
  background-color: var(--accent-color);
}

.about-item__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.about-item__text {
  font-size: 15px;
  color: #777;
  line-height: 1.6;
}

/* animation */
.about__content > * {
  opacity: 0;
  transition: opacity 5s ease;
}

.about__content > *.visible {
  opacity: 1;
}

@media (max-width: 1440px) {
  .about__wrapper {
    gap: 50px;
  }

  .about__image img {
    width: 550px;
  }
}

@media (max-width: 1200px) {
  .about__wrapper {
    gap: 40px;
  }

  .about__image img {
    width: 90%;
  }

  .about__title {
    font-size: clamp(2.5rem, 4vw, 2.2rem);
  }
}

@media (max-width: 1100px) {
  .about__image img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    text-align: center;

    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .about__wrapper {
    gap: 10px;
  }

  .about__image-block {
    margin-left: 40px;
  }

  .about__decor--peach {
    left: 70px;
  }
  .about__decor--green {
    left: 90px;
  }

  .about__image img {
    width: 70%;
    height: 600px;
    margin: 0 auto;
    object-position: center top;
  }

  .about-item {
    justify-content: center;
  }

  .about__image-block {
    margin-bottom: 10px;
  }

  .about__experience {
    right: 50%;
    transform: translateX(50%);
  }

  .about__title {
    line-height: 1.2;
  }
}

@media (max-width: 800px) {
  .about__image-block {
    margin-left: 40px;
  }

  .about__decor--peach {
    left: 20px;
  }
  .about__decor--green {
    left: 40px;
  }

  .about__image img {
    width: 80%;
  }

  .about__title {
    font-size: clamp(2.5rem, 5vw, 2.4rem);
  }
}

@media (max-width: 600px) {
  .about__image-block {
    margin-left: 0px;
  }

  .about__image img {
    width: 100%;
    height: 500px;
    box-shadow: none;
  }

  .about__image {
    padding: 0;
  }
}

/* ===================== services ================ */
.services {
  position: relative;
  padding-bottom: 200px;
}

.section__subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-sub-text);
}

.section-title {
  margin-bottom: 10px;
}

.section-subtitle {
  margin-bottom: 50px;
}

.services_container {
  max-width: 1100px;
  margin: 0 auto;
}

.service-card {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 10px;
  transition: var(--transition);
}

.service-card {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}

.service-card:hover {
  background-color: var(--color-main-accent);
  border-radius: 6px;
  border-bottom: none;
}

.service-content {
  flex: 1;
}

/* ---animation----- */
.service-card {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.service-card.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .service-icon {
    margin-bottom: 10px;
  }
}


/* --- Секція Book Online CTA --- */
.book-online-cta {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);

  max-width: 1200px;
  margin: 0 auto;
  border-radius: 6px;
}

.cta-left {
  display: flex;
  align-items: center;
}

.cta-left img {
  width: 370px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.cta-right {
  padding: 100px 40px;
}

.cta-text {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-white);
  margin-left: 50px;
}

.cta-button {
  background-color: var(--cta-button-color);
  color: white;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #d67c55;
}

/* --- Адаптивність --- */

@media (max-width: 1280px) {
  .cta-text {
    font-size: 2.4rem;
    margin-left: 30px;
  }
}

@media (max-width: 1083px) {
  .cta-left img {
    height: 100%;
    width: 300px;
    object-position: center;
  }
  .cta-text {
    font-size: 2.2rem;
  }
}

@media (max-width: 960px) {
  .cta-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .service-card {
    text-align: center;
  }

  .icon-placeholder {
    text-align: center;
  }

  .book-online-cta {
    flex-direction: column;
    text-align: center;
  }

  .cta-left {
    width: 100%;
    padding: 0 40px 0 0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  .cta-text {
    font-size: 2.6rem;
    margin-top: 50px;
  }

  .cta-right {
    padding: 50px 30px 20px 0;
    margin-top: -93px;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .cta-text {
    font-size: 2.4rem;
    margin-top: 25px;
  }
}

@media (max-width: 700px) {
  .book-online-cta {
    bottom: -180px;
  }
  .cta-right {
    margin-top: 0;
    margin-left: 0;
  }

  .cta-left {
    align-items: center;
  }
  .cta-right {
    padding: 50px 0px;
  }
}

@media (max-width: 620px) {
  .book-online-cta {
    width: 100%;
    bottom: -480px;
  }

  .cta-left {
    flex-direction: column;
    padding: 0;
  }

  .cta-left img {
    width: 100%;
    height: 400px;
    object-position: top;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0;
  }

  .cta-text {
    margin-left: 0;
    pad: 0 10px 0;
  }
}

@media (max-width: 340px) {
  .cta-text {
    pad: 0 40px 0;
  }
}

/* ====================== Pricing ========================= */

/* --- Заголовок и Описание --- */
.pricing-header {
  margin-top: 160px;
}

.pricing-title {
  color: var(--color-sub-text);
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* --- Контейнер карточек --- */
.pricing-plans-container {
  display: flex;
  gap: 10px; 
  justify-content: center;
  margin: 0 auto;
  margin-top: 80px;
}

/* --- Карточка тарифа --- */
.pricing-card {
  text-align: center;
  background-color: var(--color-main-accent);
  padding: 40px 20px;
  min-width: 280px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s, box-shadow 0.3s;
}

.plan-name {
  margin-bottom: 10px;
}

/* --- Цена --- */
.plan-price {
  margin: 20px 0;
}

.price-currency {
  font-family: var(--price-font);
  font-size: 1.5rem;
  font-weight: 300;
  vertical-align: top;
  line-height: 1;
}

.price-amount {
  font-family: var(--price-font);
  font-size: 4rem; 
  font-weight: 500;
  line-height: 1;
  margin-left: 5px;
}

.price-period {
  font-family: var(--price-font);
  font-size: 1.1rem;
  font-weight: 300;
  color: #777;
  margin-left: 5px;
}

/* --- Детали тарифа --- */
.plan-details {
  min-height: 80px;
  margin-bottom: 40px;
  margin: 15px 0;
  flex-grow: 1;
}

.pricing_btn {
  margin-top: 40px;
}

/* ---animation----- */
.pricing-card {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.5s ease, transform 0.8s ease;
}

.pricing-card.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 1201px) {
  .pricing-card {
    flex: 1;
  }
}

/* --- Медиа-запросы (Адаптивность) --- */
@media (max-width: 1160px) {
  .pricing-plans-container {
    flex-wrap: wrap;
  }

  .pricing-plans-container article {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: 1024px) {
  .pricing-header {
    flex-direction: column; 
    text-align: center;
  }

  .pricing-title,
  .pricing-description {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .pricing-header {
    margin-top: 200px;
  }
}

@media (max-width: 620px) {
  .pricing-header {
    margin-top: 500px;
  }
}

@media (max-width: 600px) {
  .pricing-plans-container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .pricing-plans-container article {
    width: calc((100% - 0px) / 1);
  }
}

/* ============== CTA Section ==================== */
.cta-section {
  color: var(--light-text);
  padding: 60px 0 0 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cta-content {
  max-width: 800px; 
  margin: 0 auto;
}

.cta-content p {
  color: var(--color-sub-text);
}

.cta-section h2 {
  color: var(--color-sub-text);
  margin-bottom: 15px;
}

.cta-section p {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

/* Стили для общей кнопки */
.button {
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid var(--light-text); 
}

.cta-button {
  color: var(--light-text);
  background-color: transparent; 
}

.cta-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ============= appointment ======================= */
.appointment-section {
  width: 50%;
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 8px;
}
.appointment-container {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0 auto;
}

.form-title {
  font-family: var(--font-serif);
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--text-color-dark);
}

.form-subtitle {
  font-size: 1rem;
  color: #777;
  text-align: center;
  margin-bottom: 40px;
}

/* --- Основні елементи форми --- */
.appointment-form {
  display: grid;
  gap: 10px;
}

.form-contact-group {
  display: flex;
  gap: 20px;
}

.form-contact-group .form-group {
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  color: var(--title-color);
  font-size: 1.2rem;
  text-align: left;
}

.form-group input,
.form-group select {
  background-color: #fff;
  color: #5f5f5f;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 46px;
  line-height: 46px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 10px 20px;

  transition: var(--transition);
  -webkit-transition: all ease 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: var(--accent-color);
  outline: none;
}

/* --- Кнопка відправки --- */
.form_btn {
  margin-top: 40px;
}

/* Модальное окно и backdrop */
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    /* margin: 15% auto; */
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }

  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }


@media (max-width: 1024px) {
  .appointment-container {
    flex-direction: column;
  }

  .appointment-section {
    width: 80%;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .appointment-section {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .fb-video-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .fb-video,
  .fb-video span,
  .fb-video iframe {
    width: 400px !important;
  }

  .form-contact-group {
    flex-direction: column;
  }

  .form-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .fb-video,
  .fb-video span,
  .fb-video iframe {
    width: 350px !important;
  }
}

@media (max-width: 360px) {
  .fb-video,
  .fb-video span,
  .fb-video iframe {
    width: 300px !important;
  }
}

/* =============== contact-info =============== */

.contact-info-section {
  background-color: var(--contact-bg);
  padding: 80px 0;
  font-family: var(--font-sans);
}

.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid var(--card-border); 
}

/* --- Стилі для кожної картки --- */
.contact-card {
  padding: 30px;
  border-right: 1px solid var(--card-border); 
  text-align: center;
  min-height: 250px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-card:not(:last-child) {
  border-right: 1px dotted var(--accent-color);
}

.card-icon-wrapper {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.card-title {
  margin-bottom: 30px;
}

.card-content {
  display: flex;
}

.contact-link-icon {
  width: 60px;
}

.card-content p {
  margin: 10px 0;
}

.label {
  display: block;
  font-weight: 600;
  color: var(--text-color-label);
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.contact-link {
  display: block;
  transition: color 0.3s;
}

.contact-link:hover {
  color: var(--accent-color);
}

/* --- Спеціальні стилі для кнопок в картках --- */
.request-quote-button,
.chat-button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: auto; 
  font-size: 0.9rem;
  transition: all 0.3s;
}

.request-quote-button:hover,
.chat-button:hover {
  background-color: var(--accent-color);
  color: white;
}

/* ---animation----- */
.contact-card {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.5s ease, transform 0.8s ease;
}

.contact-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* --- Адаптивність --- */
@media (max-width: 992px) {
  .contact-info-section {
    padding: 40px 0;
  }

  .contact-info-grid {
    grid-template-columns: 1fr; 
    border-left: none; 
    border-top: 1px solid var(--card-border); 
  }

  .contact-card {
    min-height: 150px;
    padding: 20px;
  }

  /* Прибираємо нижній роздільник у останньої картки */
  .contact-card:not(:last-child) {
    border-right: none;
  }

  .card-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .contact-card {
    padding: 0;
  }
}

/* ==================== Footer ===================== */
.site-footer {
  padding: 60px; 
}

.footer-column {
  display: flex;
  justify-content: center;
}

/* Навигация футера */
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; 
}

.footer-nav a {
  font-size: 2rem;
  padding: 20px;
  color: var(--color-white);
  padding: 15px;
  transition: var(--transition);
}

.footer-nav a:hover {
  color: var(--subtext-color);
}


/* --- Медиа-запросы (для адаптивности) --- */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "branding social"
      "nav ."
      "copyright social"; 
  }

  .footer-nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .cta-section h2 {
    font-size: 2rem;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-nav ul {
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 20px;
  }

  .footer-bottom {
    justify-content: flex-start;
  }
}
