:root {
  --accent-color: #0e6b5a;

  --color-white: #ffffff;
  --color-dark-text: #e6a693;
  --color-sub-text: #d39b85;

  --color-main-block-1: #163c3d;
  --color-main-block-2: #ffffff;
  --color-main-accent: #e2eddf;
  --color-main-accent-2: #f2f7f7;

  --title-color: #1f1f1f;
  --text-color: #535b53;
  --subtext-color: #5f5f5f;

  --transition: all 0.6s ease-out;
}

html {
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--subtext-color);
}

h1 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1.2;
  letter-spacing: 3px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 20px;
}

h2 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(2rem, 6vw, 3.5rem);
  text-transform: uppercase;
  color: var(--title-color);
  margin: 15px 0;
}

h3 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(3rem, 5vw, 2.4rem);
  font-style: italic;
  color: var(--color-gold);
  margin: 15px 0;
}

h4 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: clamp(2.1rem, 4vw, 2.2rem);
  color: var(--title-color);
  margin: 15px 0;
}

.subTitle {
  font-size: clamp(1.6rem, 3vw, 1.9rem);
  color: var(--subtext-color);
  margin: 15px 0;
}

p {
  font-size: clamp(1.6rem, 3vw, 1.7rem);
  margin: 15px 0;
  color: var(--text-color);
}

button,
.btn {
  padding: 12px 26px;
  background-color: #fff;
  color: var(--color-main-block-1);
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;

  outline: none;
  border: 1px solid transparent;
  font-size: 1.7em;
  text-align: center;

  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  background-color: var(--color-main-block-1);
}

.btn-link {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-outline {
  padding: 10px 22px;
  border: 1px solid var(--color-main-block-1);
  border-radius: 8px;
  text-decoration: none;
  color: var(--color-main-block-1);
  font-size: 18px;
  font-weight: 700;

  transition: var(--transition);
}

.btn-outline:hover {
  background-color: var(--color-main-block-1);
  color: var(--color-white);
}

.header {
  padding: 40px 0;
}

footer {
  padding: 80px 0;
}

section {
  padding: 80px 0;
}

.hero,
.book-online-cta,
.footer {
  background-color: var(--color-main-block-1);
}

.features,
.services,
.cta-section {
  background-color: var(--color-main-accent-2);
}

.centr_container {
  text-align: center;
}

/* .swiper-button-next,
.swiper-button-prev {
  color: var(--btn-color);
}

.swiper,
.swiper-wrapper {
  height: auto;
  overflow: visible;
  pointer-events: none !important;
}

.swiper-slide {
  pointer-events: auto !important;
}

.swiper-slide-active {
  pointer-events: auto !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10000 !important;
  pointer-events: auto !important;
}

.swiper-pagination {
  position: absolute;
  bottom: 190px !important;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  margin: 0 4px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--btn-color);
} */

@media screen and (max-width: 1200px) {
  h1 {
    font-size: clamp(3rem, 8vw, 6rem);
  }

  section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 0;
  }
}
